<section class="login-wrapper">
  <section class="login-header">
    <span class="login__text">
       {{ title }}
    </span>
  </section>

  <section class="login-content">
    <form class="login-form" formGroup="loginForm">
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Password" type="password">
      </mat-form-field>
    </form>
  </section>

  <section class="login-footer">
    <button mat-button>Login</button>
  </section>
</section>
