.mai-catalog {
  padding: 5%;
  display: flex;
  flex-direction: column;

  &-content {
    display: flex;
  }

  &-footer {
    text-align: center;
    margin-top: 30px;

    button {
      font-size: 20px;
    }
  }

  &-item {
    max-width: 400px;
    margin: 5px;
  }

  &-buttons-group {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
  }

  &-price-group {
    padding-left: 15px;
  }
}
